@import "../styles/variables";

footer {
  height: $size-footer-height;
  width: 100%;
  background-color: $color-black;
  font-size: 0.7em;
  overflow: hidden;

  @media screen and (min-width: $break-small){
    font-size: 0.8em;
  }
}

.footer__inner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  @media screen and (min-width: $break-med) {
    flex-direction: row;
    width: $size-inner-width;
    justify-content: space-between;
  }

}

.footer__nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; 
  margin: 5px 0; 

  @media screen and (min-width: $break-med) {
    width: 60%;
  }
}

a.footer__link {
  position: relative;
  color: $color-white;
  flex-grow: 3;

  @media screen and (min-width: $break-small) {
    &:not(:nth-child(5))::after {
      position: absolute;
      content: '';
      top: 25%;
      right: 0;
      height: 50%;
      width: 1px;
      background-color: $color-white;      
    }
  }
}

a.footer__link--icon {
  flex-grow: 1;
  height: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    max-height: 80%;
    margin: 0 5px;
    width: auto;
  }
  
  &:last-child {
    img {
      transform: translateY(20%);
    }
  }
}
