@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

$font-primary: 'Raleway', sans-serif;

$size-header-height-main: 150px;
$size-header-height-sub: 50px;
$size-footer-height: 100px;
$size-inner-width: 1000px;
$size-product_reviews-sidebar: 200px;

$break-med: 1050px;
$break-small: 700px;

$color-blue-dark: #00314f;
$color-blue-light: #4698a4;
$color-bluegrey: #678792;
$color-grey-dark: #898989;
$color-grey-light:#ececec;
$color-black: black;
$color-white: white;
$color-text-dark: #111;
