@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
.sub__nav {
  width: 100%;
  height: 100%;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center; }

.sub__nav__category {
  width: 25%;
  height: 100%; }
  .sub__nav__category h4 {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1.4em;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00314f; }
    .sub__nav__category h4::after {
      content: '>';
      margin-left: 20px;
      display: inline-block;
      transform: rotateZ(90deg);
      transition: transform 300ms; }
  .sub__nav__category:not(:first-child) h4::before {
    position: absolute;
    content: '';
    top: 25%;
    left: 0;
    height: 25px;
    width: 1px;
    background-color: #00314f; }
  .sub__nav__category:hover h4 {
    background: rgba(0, 0, 0, 0.05); }
    .sub__nav__category:hover h4::after {
      transform: rotateZ(-90deg); }
  .sub__nav__category:hover .sub__nav__subcategory {
    display: block;
    perspective: 500px; }
    .sub__nav__category:hover .sub__nav__subcategory li {
      opacity: 0;
      transition: all 250ms ease-in-out;
      transform-origin: top center; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(1) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 50ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(2) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 100ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(3) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 150ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(4) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 200ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(5) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 250ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(6) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 300ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(7) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 350ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(8) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 400ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(9) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 450ms; }
      .sub__nav__category:hover .sub__nav__subcategory li:nth-child(10) {
        animation-name: menupop;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
        animation-delay: 500ms; }

@keyframes menupop {
  0% {
    opacity: 0;
    transform: rotateX(-120deg); }
  90% {
    transform: rotateX(20deg); }
  100% {
    opacity: 1;
    transform: rotateX(0); } }

.sub__nav__subcategory {
  display: none; }
  .sub__nav__subcategory li {
    position: relative;
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    background-color: white; }
    .sub__nav__subcategory li:hover {
      background: #4698a4;
      color: #ececec; }
      .sub__nav__subcategory li:hover:not(:first-child)::before {
        visibility: hidden; }
    .sub__nav__subcategory li:not(:first-child)::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 5%;
      width: 90%;
      height: 1px;
      background: #111; }
